body {
  background-color: #fffdd0;
  font-family: 'Assistant', sans-serif;
  color: #071c4d;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 412px;
  margin: auto;
}

.bodyy {
  background-color: #fff;
  width: 412px;
  height: 700px;
}

.navbar-header {
  background-color: #6BEEE6;
  height: 72px;
}

.navbar-header .navbar-menu {
  width: 400px;
  height: 40px;
  border-radius: 20px;
  background: #fff;
  border: 1px solid #707070;
  -webkit-box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.16);
}

.navbar-header .navbar-menu .assistant {
  margin: -5px 0 0 10px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 29.25px;
  height: 31.5px;
  background: transparent;
}

.navbar-header .navbar-menu p {
  margin-left: 20px;
  margin-top: -5px;
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 20px;
  text-align: left;
  color: #707070;
}

.navbar-header .navbar-menu .lokasi {
  margin-left: 145px;
}

.navbar-header .navbar-menu .icon {
  margin-top: -3px;
  margin-left: 8px;
  width: 21.57px;
  height: 28.76px;
}

.navbar-header .navbar-menu .icon-online {
  width: 22px;
  height: 22px;
  margin-left: 20px;
}

.mainsection {
  padding-top: 28px;
}

.mainsection .mainsection-chat {
  width: 120px;
  height: 144px;
  border-radius: 16px;
  background: #fff;
  border: 1px solid #707070;
  margin: auto;
}

.mainsection .mainsection-chat .menusatu {
  padding-top: 10px;
}

.mainsection .mainsection-chat p {
  font-family: "Berlin Sans FB";
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: #1e1d1d;
  margin-bottom: 0;
}

.mainsection .mainsection-search {
  width: 120px;
  height: 144px;
  border-radius: 16px;
  background: #fff;
  border: 1px solid #707070;
  margin: auto;
  padding: 8px 12px 0px 18px;
}

.mainsection .mainsection-search .menudua {
  width: 72px;
  height: 135px;
}

.mainsection .mainsection-search p {
  font-family: "Berlin Sans FB";
  font-weight: normal;
  margin-top: -35px;
  font-size: 18px;
  text-align: left;
  color: #1e1d1d;
}

.extra-mainsection {
  padding-top: 28px;
}

.extra-mainsection .extra-mainsection-carirs {
  width: 120px;
  height: 144px;
  border-radius: 16px;
  border: 1px solid #707070;
  margin: auto;
}

.extra-mainsection .extra-mainsection-carirs .carirs {
  margin-top: 11px;
  width: 118px;
  height: 87px;
  background: transparent;
}

.extra-mainsection .extra-mainsection-carirs p {
  font-family: "Berlin Sans FB";
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: #1e1d1d;
  margin-bottom: 0;
}

.extra-mainsection .extra-mainsection-cekobat {
  width: 120px;
  height: 144px;
  border-radius: 16px;
  background: #fff;
  border: 1px solid #707070;
  margin: auto;
}

.extra-mainsection .extra-mainsection-cekobat .cekobat {
  margin-top: 22px;
  width: 118px;
  height: 93px;
  background: transparent;
}

.extra-mainsection .extra-mainsection-cekobat p {
  margin-top: -10px;
  font-family: "Berlin Sans FB";
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: #1e1d1d;
}

.section-menu {
  margin: 43px 0 0 0;
}

.section-menu .section-menu-info {
  font-family: "Berlin Sans FB";
  font-weight: normal;
  font-size: 18px;
  text-align: left;
  color: #1e1d1d;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.33);
}

.section-menu .section-menu-lihat {
  width: 120px;
  height: 24px;
  border-radius: 10px;
  background: #b7afaf;
}

.section-menu .section-menu-lihat p {
  font-family: "Berlin Sans FB";
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: #f61f1f;
  opacity: 0.88;
}

.container-menu {
  margin-top: 100px;
}

.container-menu .container-menu-dokterhewan {
  width: 380px;
  height: 86px;
  border-radius: 43px;
  background: #fff;
  border: 1px solid #707070;
  margin-left: 0;
}

.container-menu .container-menu-dokterhewan .menu-dokterhewan {
  margin-top: -1px;
  width: 88px;
  height: 86px;
  background: #88F1EA;
  border-radius: 43px 0 0 43px;
  border: 1px solid #707070;
}

.container-menu .container-menu-dokterhewan p {
  font-family: "Segoe UI";
  font-weight: 600;
  font-size: 31px;
  margin: 15px 0 0 35px;
  color: #0d0b0b;
}

.container-menu .container-menu-dokteranak {
  width: 380px;
  height: 86px;
  border-radius: 43px;
  background: #fff;
  border: 1px solid #707070;
  margin-left: 0;
  margin-top: 60px;
}

.container-menu .container-menu-dokteranak .menu-dokteranak {
  margin-top: -1px;
  width: 88px;
  height: 86px;
  background: #88F1EA;
  border-radius: 43px 0 0 43px;
  border: 1px solid #707070;
}

.container-menu .container-menu-dokteranak p {
  font-family: "Segoe UI";
  font-weight: 600;
  font-size: 31px;
  margin: 15px 0 0 35px;
  color: #0d0b0b;
}

.container-menu .container-menu-dokterspesialis {
  width: 380px;
  height: 86px;
  border-radius: 43px;
  background: #fff;
  border: 1px solid #707070;
  margin-left: 0;
  margin-top: 60px;
}

.container-menu .container-menu-dokterspesialis .menu-dokterspesialis {
  margin-top: -1px;
  width: 88px;
  height: 86px;
  background: #88F1EA;
  border-radius: 43px 0 0 43px;
  border: 1px solid #707070;
}

.container-menu .container-menu-dokterspesialis p {
  font-family: "Segoe UI";
  font-weight: 600;
  font-size: 31px;
  margin: 15px 0 0 35px;
  color: #0d0b0b;
}

.container-chat {
  margin-top: 500px;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  background: #fff;
  border: 1px solid #707070;
  -webkit-box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.16);
}

.container-chat p {
  font-family: "Segoe UI";
  font-size: 20px;
  margin-left: 20px;
  color: #000;
}

.container-ketik-input {
  padding: 20px;
}

.container-ketik-input .container-ketik {
  margin-top: 20px;
  width: 300px;
  height: 40px;
  border-radius: 20px;
  background: #fff;
  border: 1px solid #d3d3d3;
}

.container-ketik-input .container-ketik p {
  font-family: "Segoe UI";
  margin-left: 50px;
  font-size: 20px;
  margin-left: 20px;
  color: #b9b9b9;
}

.container-ketik-input .icon-kirim {
  margin-top: 18px;
  margin-left: 10px;
  width: 38px;
  height: 38px;
}

.container-drop-obat {
  margin-top: 200px;
  border-style: dashed;
  height: 280px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  border-color: #b9b9b9;
}

.container-drop-obat .container-browse {
  width: 122px;
  height: 40px;
  border-radius: 15px;
  background: #4285f4;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.container-drop-obat .container-browse p {
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.container-drop-obat p {
  text-align: center;
  font-family: "Segoe UI";
  font-weight: bold;
  font-size: 20px;
  color: #b9b9b9;
}

hr {
  margin: 0;
  width: 413px;
  background-color: #030202;
  border: 1px solid #030202;
}

.section-footer {
  width: 412px;
  height: 207px;
  background: #6beee6;
  padding: 10px;
  border: 1px solid rgba(112, 112, 112, 0);
  opacity: 0.8;
  -webkit-box-shadow: 3px 3px 6px rgba(15, 11, 11, 0.16);
          box-shadow: 3px 3px 6px rgba(15, 11, 11, 0.16);
}

.section-footer .row-section-footer {
  margin-top: 22px;
}

.section-footer .row-section-footer .col-infosatu {
  margin: auto;
}

.section-footer .row-section-footer .col-infosatu .infosatu {
  width: 192px;
  height: 131px;
}

.section-footer .row-section-footer .col-infosatu p {
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 15px;
  color: #707070;
}

.section-footer .row-section-footer .col-infodua {
  margin: auto;
}

.section-footer .row-section-footer .col-infodua .infodua {
  width: 192px;
  height: 131px;
}

.section-footer .row-section-footer .col-infodua p {
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 15px;
  color: #707070;
}

@media (min-width: 800px) and (max-width: 2000px) {
  /*
    .navbar-header{   
        margin: auto;
        /*height: 72px;
    }*/
}
/*# sourceMappingURL=main.css.map */